

.Titulo{
	text-align: center;
	font-family: 'Balsamiq Sans', cursive;
}

.gold {
	border: 1px solid black;
	font-family: 'Balsamiq Sans', cursive;
}

.card {
	margin: 3rem;
	font-family: 'Balsamiq Sans', cursive;
}

.card-body {
	border: 1px solid;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}