
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr:nth-child(2) {
  background-color: rgb(150, 150, 150);
}
tr:nth-child(2n +1) {
  background-color: rgb(208, 208, 208);
}
tr:nth-child(2n+ 2) {
  background-color: rgb(223, 223, 223);
}
tr:nth-child(2n+ 3) {
  background-color: rgb(234, 234, 234);
}
tr:nth-child(2n+ 4) {
  background-color: rgb(235, 235, 235);
}
tr:nth-child(2n+ 5) {
  background-color: rgb(236, 236, 236);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Balsamiq Sans', cursive;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
  font-family: 'Balsamiq Sans', cursive;
}

table {
  width: 50%;
  border-collapse: collapse;
  font-family: 'Balsamiq Sans', cursive;
}

td, th {
  border: 1px solid black;
  padding: 8px;
}

tr:first-child td {
  border-top: 1px solid black;
}

tr:last-child td {
  border-bottom: 1px solid black;
}

td:first-child, th:first-child {
  border-left: 1px solid black;
}

td:last-child, th:last-child {
  border-right: 1px solid black;
}




