<!DOCTYPE html>
<html>
<head>
  <meta charset="ISO-8859-1">
  <title>Insert title here</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/script.js"></script>
</head>
<body>
	 <div class="letraRoja" id="error-message"></div>

  <form  action="register" method="post">
    <label class="Pregunta" for="firstname">What is the code?!</label> <br/>
    <input class="escritura" type="text" name="fname"/> <br/>
    <br/>
    <br>
    <button class="Boton" type="submit">Try code</button>
  </form>

</body>
</html>

