<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1> Learning Springboot with HTML Form - User input </h1>
<form action="register" method="post">
<label for="firstname"> First name:  </label> <br/>
<input type="text" name= "fname"/> <br/>

<label for="lastname"> Last name:  </label> <br/>
<input type="text" name= "lname"/> <br/>

<label for="email"> Email:  </label> <br/>
<input type="email" name= "email"/> <br/>

<label for="dob"> Fecha:  </label> <br/>
<input type="date" name= "dob"/> <br/>

<label for="password"> Password:  </label> <br/>
<input type="password" name= "Passwd"/> <br/>

<label for="genero"> Genero:  </label> <br/>
<select name= "genero">
	<option value=""></option>
	<option value="male">Male</option>
	<option value="female">Female</option>
</select>
<br/>
<button type= "submit"> Acepte a dios</button>

</form>


</body>
</html>